<%- include('header') -%> 

<div class="container">
    <div class="blog-post">
        <% for( let i = 0; i < Object.keys(posts).length; i++ ) { %>
        <% var link = "/" + Object.keys(posts)[i] %> 
            <h1>
                <%= Object.keys(posts)[i] %> 
            </h1>
            <p class="blog-paragraph">
                <%= Object.values(posts)[i].substring(0,900) %> ... 
                <a href="<%= link %>" >Read More</a>
            </p>
            <hr>
        <% } %>
    </div>

</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/blog"]').classList.add('active');
</script>

<%- include('footer') -%> 
