<%- include('header') -%> 

<div class="container">
    <div class="image__container">
        <img src="img/Picture34.jpg" alt="">
    </div>
    

    <div class="md:grid overflow-hidden grid-cols-4 grid-rows-1 mx-3 gap-2">
        <div class="box">
            <img src="img/Picture5.jpg" alt="">
            <h2>ABOUT US</h2>
            <p>
                <%= data['about'].substring(0, 200) %> ... 
            </p>
            <br>
            <a href="/about">Read More</a>
        </div>

        <div class="box">
            <img src="img/Picture27.jpg" alt="" >
            <h2>MEMBERSHIP</h2>
            <p>
                <%= data['membership'].substring(0, 200) %> ... 
            </p>
            <br><a href="/membership">Read More</a>
        </div>
        
        <div class="box">
            <img src="img/Picture24.jpg" alt="">
            <h2>ADVOCACY</h2>
            <p>
                <%= data['advocacy'].substring(0, 200) %> ... 
            </p>
            <br> <a href="/advocacy">Read More</a>
        </div>
        
            <div class="box">
            <img src="img/picture27.jpg" alt="">
            <h2>VISION</h2>
            <p>
                <%= data['vision'].substring(0, 200) %> ...  
            </p>
            <br><a href="/about">Read More</a>
            </div>

        </div>

    <hr class="md:invisible">

    <h2 class="visible md:invisible">OSHO CHEMICALS VISIT</h2>
    <div class="md:grid overflow-hidden grid-cols-3 grid-rows-1 mx-3">
        <img src="img/Picture32.jpg" alt="" class="col-span-2 img-70 block md:hidden">
        <div class="p1 col-span-1">
            <h2 class="invisible md:visible">
                OSHO CHEMICALS VISIT
            </h2>
            <p>
                <%= posts['OSHO CHEMICALS VISIT'].substring(0,600) %> ... <a href="/OSHO CHEMICALS VISIT">Read More</a>
            </p>
        </div>
        <img src="img/Picture32.jpg" alt="" class="col-span-2 img-70 hidden md:block">
    </div>


    <h1 class="text-center px-3">Our Partners</h1>
    <div class="partners grid grid-cols-4 gap-4">

        <div class="col-span-1">
            <img src="img/bata.png" alt="" >
            <a href="https://batakenya.com/">
                <p class="text-center">BATA INDUSTRIES KENYA LTD.</p>
            </a>
        </div>

        <div class="col-span-1">
            <img src="img/chandaria.jpg" alt="" >
            <a href="https://www.chandaria.com/">
                <p class="text-center">CHANDARIA INDUSTRIES KENYA LTD.</p>
            </a>
        </div>

        <div class="col-span-1">
            <img src="img/osho.png" alt="" >
            <a href="https://www.oshochem.com/">
                <p class="text-center">OSHO CHEMICALS KENYA LTD.</p>
            </a>
        </div>

        <div class="col-span-1">
            <img src="img/haco.jpg" alt="" >
            <a href="https://www.haco.co.ke/">
                <p class="text-center">HACO INDUSTRIES KENYA LTD.</p>
            </a>
        </div>

    </div>
</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/"]').classList.add('active');
</script>

<%- include('footer') -%> 