<%- include('header') -%> 

<div class="container">
    <div class="blog-post">
        <% data.forEach(function(item){ %> 
            <h1>
                <%= item.title %> 
            </h1>
            <p class="blog-paragraph">
                <%= item.body.substring(0,800) %> ... 
                <a href="<%= item.title %> " >Read More</a>
            </p>
            <hr>

        <% }) %>
    </div>

</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/blog"]').classList.add('active');
</script>

<%- include('footer') -%> 
